body{
    background-image: url(./background-app.png);
    min-height: 2000px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

